@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply h-auto;
    @apply py-[68px];
    @apply sm:py-[80px];
    @apply md:py-0;
    @apply pt-[68px];
    @apply sm:pt-[80px];
    @apply lg:pt-[94px];
    @apply xl:pt-[98px];
    @apply md:min-h-screen;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

textarea:focus,
input:focus {
  outline: none;
}

.arrow-left {
  clip-path: polygon(75% 0, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0);
}

.arrow-right {
  clip-path: polygon(25% 0, 75% 50%, 25% 100%, 50% 100%, 100% 50%, 50% 0);
}

